<h1>Signup</h1>

<body>
<form action="/signup" method="POST">
<p>username:<input type="text" name="username" id="username"></p>
<p>email:<input type="text" name="email" id="email"></p>
<p>password:<input type="text" name="password" id="password"></p>
<p><input type="submit" value="Sign up" id="submit"></p>
</form>
</body>     